<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <h1 class="home-title">Sudoku Corner</h1>
            <p class="home-text">Your daily escape from the chaos</p>
<p class="home-text-two">New to Sudoku? Been playing forever? Either way, we've got the perfect puzzle waiting for you.</p>
        </div>
         <picture>
            <source srcset="
                /img/home/desk.png 1x,
                /img/home/desk@2x.png 2x
            " media="(min-width: 1440px)" />
            <source srcset="
                /img/home/mob.png 1x,
                /img/home/mob@2x.png 2x
            " media="(max-width: 1439px)" />
            <img src="/img/home/mob.png" alt="Sudoku Corner" loading="lazy" />
        </picture>     
        <a class="home-link" href="https://play.google.com/store/apps/details?id=com.sudokucorner.app&hl=en&gl=us">
            <img src="/img/home/btn.png" alt="google play" loading="lazy">
        </a>       
    </div>
</section>